node_modules/
.DS_Store
projects/**/css/
projects-v1/**/css/
.awspublish*
.env
.sass-cache/
yarn.lock
**/**/static-assets/js/widget-controllers/node_modules/
**/**/static-assets/js/widget-controllers/build/
**/**/static-assets/js/widget-controllers/dist/